<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Ascii Art Result</title>
        <style>
            .result-container {
                width: 50%;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid #ccc;
                border-radius: 10px;
                background-color: #f9f9f9;
                white-space: pre-wrap; /* To preserve the ASCII art format */
                font-family: monospace; /* To use a monospace font */
            }
        </style>
    </head>
    <body>
        <div class="result-container">
            <h1>Ascii Art Result</h1>
            <pre>{{.Art}}</pre>
            <a href="/">Back to form</a>
        </div>
    </body>
</html>
