<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ascii Art</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="form-container">
        <form method="POST" action="/display">
            <label for="text_input">Please enter some text below:</label>
            <textarea id="text_input" name="text_input" cols="50" rows="4" placeholder="Enter your text here"></textarea>
            <div class="radio-group">
                <label>Select a banner:</label>
                <input type="radio" id="standard" name="banner" value="standard" required>
                <label for="standard">Standard</label><br>
                <input type="radio" id="thinkertoy" name="banner" value="thinkertoy">
                <label for="thinkertoy">Thinkertoy</label><br>
                <input type="radio" id="shadow" name="banner" value="shadow">
                <label for="shadow">Shadow</label>
            </div>
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
</body>
</html>